## Metadata Cleaning

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
metadata = pd.read_csv('/Users/saptarshimondal/Documents/1.Course_Materials_MSDS/2nd SEM/CSCE 670 ISR/3.Project/MFlix-RecommenderSystem/src/data/movies_metadata.csv', low_memory = False)

In [6]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [17]:
poster_path = metadata['poster_path'].to_list()
posters = ['https://image.tmdb.org/t/p/w500' + str(path) for path in poster_path]

In [28]:
import urllib3
import os
from tqdm import tqdm

final_list = []
available_posters = 0

# Initialize urllib3 PoolManager
http = urllib3.PoolManager()
#pbar = tqdm(total=len(posters), desc = 'Available posters')

for url in tqdm(posters, desc = 'Total Posters', total=len(posters)):
    try:
        # Send a GET request to download the image
        response = http.request("GET", url)
        
        # Check if the request was successful (status code 200)
        if response.status == 200:
            final_list.append(url)
            available_posters+=1
            #pbar.update(1)
                
            
        else:
            final_list.append('Image not found')
            
    except Exception as e:
        final_list.append('Image not found')

#Takes around 45 minutes to run

Total Posters: 100%|██████████| 45466/45466 [41:37<00:00, 18.20it/s]

In [37]:
available_posters

6140

In [30]:
poster_df = pd.DataFrame([final_list])

In [34]:
metadata['poster_working_url'] = poster_df.T
metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,poster_working_url
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Image not found
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Image not found
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,Image not found
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Image not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Image not found
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,Image not found
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,Image not found
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [121]:
metadata_image = metadata[~(metadata['poster_working_url'] == 'Image not found')]
metadata_image

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,poster_working_url
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,...,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mom,False,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [122]:
metadata_image.isnull().sum()

adult                       0
belongs_to_collection    5484
budget                      0
genres                      0
homepage                 5070
id                          0
imdb_id                     4
original_language           3
original_title              0
overview                  114
popularity                  0
poster_path                 0
production_companies        0
production_countries        0
release_date               12
revenue                     0
runtime                    31
spoken_languages            0
status                      6
tagline                  3469
title                       0
video                       0
vote_average                0
vote_count                  0
poster_working_url          0
dtype: int64

In [123]:
metadata_new = metadata_image.drop(columns = ['belongs_to_collection', 'homepage', 'tagline'] , axis = 1 )

In [124]:
metadata_new.isnull().sum()

adult                     0
budget                    0
genres                    0
id                        0
imdb_id                   4
original_language         3
original_title            0
overview                114
popularity                0
poster_path               0
production_companies      0
production_countries      0
release_date             12
revenue                   0
runtime                  31
spoken_languages          0
status                    6
title                     0
video                     0
vote_average              0
vote_count                0
poster_working_url        0
dtype: int64

In [125]:
metadata_new.dropna(inplace = True)

In [126]:
metadata_new

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,poster_working_url
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,False,30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,/wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg,...,1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ace Ventura: When Nature Calls,False,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,False,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,/jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg,...,1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Money Train,False,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,False,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,/6Sj9wDu3YugthXsU0Vry5XFAZGg.jpg,...,1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Twelve Monkeys,False,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,False,30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,/gN6X3fwPya8pLffk9OEWV3DqBnE.jpg,...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Babe,False,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,False,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,/yU6byKhpzHG1RFpY5PYM6mfhfU1.jpg,...,2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pooh's Heffalump Halloween Movie,False,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,False,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,/zZwbntqdfKdVgzH1RoMHa99g0mJ.jpg,...,2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Mom,False,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,False,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,False,0,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [127]:
metadata_new.isnull().sum()

adult                   0
budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
title                   0
video                   0
vote_average            0
vote_count              0
poster_working_url      0
dtype: int64

In [128]:
#See only
metadata_new['adult'].value_counts()

False    6002
True        4
Name: adult, dtype: int64

In [129]:
metadata_new = metadata_new[~(metadata_new['adult'] == 'True')]

In [130]:
metadata_new.drop(columns = ['adult'], axis = 1, inplace = True)

/var/folders/qt/lkmkr1817vd45bbs2t4fbrv00000gn/T/ipykernel_73693/4083360972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_new.drop(columns = ['adult'], axis = 1, inplace = True)

In [131]:
metadata_new = metadata_new.iloc[:,1:]
metadata_new

,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,poster_working_url
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,/wRlGnJhEzcxBjvWtvbjhDSU1cIY.jpg,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ace Ventura: When Nature Calls,False,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,/jSozzzVOR2kfXgTUuGnbgG2yRFi.jpg,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Money Train,False,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,/6Sj9wDu3YugthXsU0Vry5XFAZGg.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Twelve Monkeys,False,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,/gN6X3fwPya8pLffk9OEWV3DqBnE.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Babe,False,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,/yU6byKhpzHG1RFpY5PYM6mfhfU1.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pooh's Heffalump Halloween Movie,False,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,/zZwbntqdfKdVgzH1RoMHa99g0mJ.jpg,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Mom,False,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,False,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [132]:
metadata_new.drop(columns = ['poster_path'], axis =1 , inplace = True)

In [133]:
metadata_new

,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,poster_working_url
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ace Ventura: When Nature Calls,False,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Money Train,False,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Twelve Monkeys,False,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Babe,False,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pooh's Heffalump Halloween Movie,False,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Mom,False,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,False,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [134]:
metadata_new = metadata_new[(metadata_new['status'] == 'Released')]

In [141]:
metadata_new

,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,poster_working_url
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ace Ventura: When Nature Calls,False,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-21,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Money Train,False,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-29,168840000.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Twelve Monkeys,False,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Babe,False,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-13,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Pooh's Heffalump Halloween Movie,False,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2017-07-07,0.0,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Mom,False,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Robin Hood,False,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,Century of Birthing,False,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Queerama,False,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...

In [136]:
metadata_new['video'].value_counts()

False    5919
True        9
Name: video, dtype: int64

In [144]:
metadata_v1 = metadata_new[metadata_new['video'] == False]

In [149]:
metadata_v1.drop(columns = ['status', 'video'], axis = 1, inplace = True)

/var/folders/qt/lkmkr1817vd45bbs2t4fbrv00000gn/T/ipykernel_73693/391064112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_v1.drop(columns = ['status', 'video'], axis = 1, inplace = True)

In [151]:
metadata_v1['revenue'].value_counts()

0.0            4873
2500000.0         4
11000000.0        3
6000000.0         3
12000000.0        3
               ...
3897799.0         1
940335536.0       1
51142659.0        1
259175788.0       1
184770205.0       1
Name: revenue, Length: 1019, dtype: int64

In [152]:
metadata_v1.drop(columns = ['revenue'], axis =1 , inplace = True)

/var/folders/qt/lkmkr1817vd45bbs2t4fbrv00000gn/T/ipykernel_73693/1242818263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata_v1.drop(columns = ['revenue'], axis =1 , inplace = True)

In [153]:
metadata_v1

,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,title,vote_average,vote_count,poster_working_url
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,https://image.tmdb.org/t/p/w500/vzmL6fP7aPKNKP...
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",8.205448,"[{'name': 'O Entertainment', 'id': 5682}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Ace Ventura: When Nature Calls,6.1,1128.0,https://image.tmdb.org/t/p/w500/wRlGnJhEzcxBjv...
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-21,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Money Train,5.4,224.0,https://image.tmdb.org/t/p/w500/jSozzzVOR2kfXg...
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",12.297305,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-29,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Twelve Monkeys,7.4,2470.0,https://image.tmdb.org/t/p/w500/6Sj9wDu3YugthX...
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,14.404764,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}, {'...",1995-07-18,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Babe,6.0,756.0,https://image.tmdb.org/t/p/w500/gN6X3fwPya8pLf...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2005-09-13,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Pooh's Heffalump Halloween Movie,5.4,7.0,https://image.tmdb.org/t/p/w500/yU6byKhpzHG1RF...
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,tt5690142,hi,Maa,The bliss of a biology teacher’s family life i...,1.559596,"[{'name': 'Mad Films', 'id': 82459}, {'name': ...","[{'iso_3166_1': 'IN', 'name': 'India'}]",2017-07-07,146.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Mom,6.6,14.0,https://image.tmdb.org/t/p/w500/zZwbntqdfKdVgz...
45460,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Robin Hood,5.7,26.0,https://image.tmdb.org/t/p/w500/fQC46NglNiEMZB...
45462,"[{'id': 18, 'name': 'Drama'}]",111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,https://image.tmdb.org/t/p/w500/xZkmxsNmYXJbKV...
45465,[],461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0,https://image.tmdb.org/t/p/w500/s5UkZt6NTsrS7Z...